In [1]:
import os
import pandas as pd
import numpy as np
import re
import json
import sys
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from sklearn import preprocessing

pd.set_option('display.max_columns', None)

In [2]:
import nltk
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

In [3]:
PATH = sys.path[3]
PATH

'/Users/fneut/Documents/git/n26_api'

In [4]:
WORDS = stopwords.words('english') #typical words, as 'me', 'we', 'our', 'be', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should'

In [5]:

def label_transaction(transactions: dict):
    for counter, transaction_operation in enumerate(transactions):
        if "amount" in transaction_operation.keys():
            if transaction_operation["amount"] > 0:
                transactions[counter]["expense_type"] = "deposit"
            else:
                transactions[counter]["expense_type"] = "expense"
    return transactions

def remove_wording_in_transaction_label(transactions: dict):
    for counter, transaction_operation in enumerate(transactions):
        if "category" in transaction_operation.keys():
            transactions[counter]["category_preprocessed"] = " ".join(transaction_operation["category"].split("micro-v2-")[-1].split("-"))
    return transactions


def remove_commonly_used_words_from_transactions(transactions: dict):
    """
    #keeps the descriptions of the banking transaction, and removes garbage data from the transaction string 
    # like colon, words that don't give any value as a feature. 
    # [^a-zA-Z_] match everything that is NOT an uppercase or lowercase letter at the start of the word
    # i.e. "-netto" will be replaced by " netto"  
    """
    for counter, transaction_operation in enumerate(transactions):
        text_merged = ""
        for col_name in ["merchantName", "referenceText"]: 
            if col_name in transaction_operation.keys():
                text_preprocessed = " ".join([i for i in re.sub("[^a-zA-Z]"," ",transaction_operation[col_name]).split() if (i.lower() not in WORDS)]).lower()
                transactions[counter][f"{col_name}_preprocessed"] = text_preprocessed
                text_merged += f"{text_preprocessed} "
        transactions[counter]["transaction_description_merged"] = text_merged.strip()
    return transactions

In [6]:
with open(f"{PATH}/data_to_work_transactions.json") as f:
    data = json.load(f)

In [7]:
remove_commonly_used_words_from_transactions(data)
remove_wording_in_transaction_label(data)
label_transaction(data)

[{'id': '9be63438-e4fb-31b7-9384-65915fb23c30',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -9.45,
  'currencyCode': 'EUR',
  'originalAmount': -9.45,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1665225611331,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1665232571040,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1665225611331,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '9be63438-e4fb-31b7-9384-65915fb23c30',
  'linkId': '9be63438-e4fb-31b7-9384-65915fb23c30',
  'confirmed': 1665232571040,
  'merchantName_preprocessed': 'netto marken discount',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': '4c29da2f-c15f-3cd4-a938-caa026ef7025',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -27.11,
  'currencyCode': 'EUR',
  'originalAmount': -27.11,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1665225611331,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'REWE Aachen, Marktstr',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1665232570906,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1665225611331,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '4c29da2f-c15f-3cd4-a938-caa026ef7025',
  'linkId': '4c29da2f-c15f-3cd4-a938-caa026ef7025',
  'confirmed': 1665232570906,
  'merchantName_preprocessed': 'rewe aachen marktstr',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'rewe aachen marktstr',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': 'f4787306-d9ad-4707-a65d-3dafbbf12926',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'DT',
  'amount': -1200.0,
  'currencyCode': 'EUR',
  'visibleTS': 1665165809396,
  'partnerBic': 'BYLADEM1001',
  'partnerName': 'felipe neut dkb',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'partnerIban': 'DE55120300001083891984',
  'category': 'micro-v2-miscellaneous',
  'userCertified': 1665165809459,
  'pending': False,
  'transactionNature': 'NORMAL',
  'smartContactId': '8a252a92-c72a-437d-b888-7b2853c58d7e',
  'createdTS': 1665165809396,
  'smartLinkId': 'f4787306-d9ad-4707-a65d-3dafbbf12926',
  'linkId': 'f4787306-d9ad-4707-a65d-3dafbbf12926',
  'paymentScheme': 'SEPA',
  'confirmed': 1665165809459,
  'transaction_description_merged': '',
  'category_preprocessed': 'miscellaneous',
  'expense_type': 'expense'},
 {'id': '92d3d50b-bad5-3815-897c-a4386fcd94d1',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -5.97,
  'currencyCode': 'EUR',
  'originalAmount': -5.97,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1665157629291,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1665161097226,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1665157629291,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '92d3d50b-bad5-3815-897c-a4386fcd94d1',
  'linkId': '92d3d50b-bad5-3815-897c-a4386fcd94d1',
  'confirmed': 1665161097226,
  'merchantName_preprocessed': 'netto marken discount',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': '2a043002-e5fb-38b1-8cc8-df5b61eca3cc',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -15.5,
  'currencyCode': 'EUR',
  'originalAmount': -15.5,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1665157629291,
  'mcc': 5812,
  'mccGroup': 2,
  'merchantName': 'TK Kurhaus Aachen',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-bars-restaurants',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1665161097077,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1665157629291,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '2a043002-e5fb-38b1-8cc8-df5b61eca3cc',
  'linkId': '2a043002-e5fb-38b1-8cc8-df5b61eca3cc',
  'confirmed': 1665161097077,
  'merchantName_preprocessed': 'tk kurhaus aachen',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'tk kurhaus aachen',
  'category_preprocessed': 'bars restaurants',
  'expense_type': 'expense'},
 {'id': 'f6840f65-9a60-498b-87b4-99421531edae',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'DD',
  'amount': -1000.0,
  'currencyCode': 'EUR',
  'visibleTS': 1665072801801,
  'partnerBic': 'BDWBDEMMXXX',
  'partnerName': 'Felipe Neut Montes',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'partnerIban': 'DE18700331002335527004',
  'category': 'micro-v2-savings-investments',
  'referenceText': 'Scalable Capital Broker 5x savings plan',
  'userCertified': 1665072801809,
  'pending': False,
  'transactionNature': 'NORMAL',
  'smartContactId': '5057f059-4bae-490e-8e3a-be5a79301f84',
  'createdTS': 1665072801801,
  'mandateId': 'N4T9TFRHF6JEMDMNHDJINE',
  'creditorIdentifier': 'DE63MUC00001787612',
  'smartLinkId': 'f6840f65-9a60-498b-87b4-99421531edae',
  'linkId': 'f6840f65-9a60-498b-87b4-99421531edae',
  'confirmed': 1665072801809,
  'referenceText_preprocessed': 'scalable capital broker x savings plan',
  'transaction_description_merged': 'scalable capital broker x savings plan',
  'category_preprocessed': 'savings investments',
  'expense_type': 'expense'},
 {'id': '44ba262d-6f41-3c7a-9cb2-66e39398ee15',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -3.58,
  'currencyCode': 'EUR',
  'originalAmount': -3.58,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1665044181605,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1665049877113,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1665044181605,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '44ba262d-6f41-3c7a-9cb2-66e39398ee15',
  'linkId': '44ba262d-6f41-3c7a-9cb2-66e39398ee15',
  'confirmed': 1665049877113,
  'merchantName_preprocessed': 'netto marken discount',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': 'a12cf762-7b1a-36e4-9114-93a746f54e3b',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -19.71,
  'currencyCode': 'EUR',
  'originalAmount': -19.71,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1664955967445,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1664960283348,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664955967445,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': 'a12cf762-7b1a-36e4-9114-93a746f54e3b',
  'linkId': 'a12cf762-7b1a-36e4-9114-93a746f54e3b',
  'confirmed': 1664960283348,
  'merchantName_preprocessed': 'netto marken discount',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': '92f31c62-b4e5-4dd9-a24f-c66347166ab7',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'DT',
  'amount': -1000.0,
  'currencyCode': 'EUR',
  'visibleTS': 1664943394492,
  'partnerBic': 'BYLADEM1001',
  'partnerName': 'felipe neut dkb',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'partnerIban': 'DE55120300001083891984',
  'category': 'micro-v2-miscellaneous',
  'userCertified': 1665002197606,
  'pending': False,
  'transactionNature': 'NORMAL',
  'smartContactId': '8a252a92-c72a-437d-b888-7b2853c58d7e',
  'createdTS': 1664943394492,
  'smartLinkId': '92f31c62-b4e5-4dd9-a24f-c66347166ab7',
  'linkId': '92f31c62-b4e5-4dd9-a24f-c66347166ab7',
  'paymentScheme': 'SEPA',
  'confirmed': 1665002197606,
  'transaction_description_merged': '',
  'category_preprocessed': 'miscellaneous',
  'expense_type': 'expense'},
 {'id': '57f50181-140d-31d5-a9fc-e7150ae376a8',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -15.99,
  'currencyCode': 'EUR',
  'originalAmount': -15.99,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': '0851832022',
  'visibleTS': 1664868418640,
  'mcc': 8244,
  'mccGroup': 4,
  'merchantName': 'PAYPAL *UDEMY',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-education',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1664873835638,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664868418640,
  'merchantCountry': 5,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '57f50181-140d-31d5-a9fc-e7150ae376a8',
  'linkId': '57f50181-140d-31d5-a9fc-e7150ae376a8',
  'confirmed': 1664873835638,
  'merchantName_preprocessed': 'paypal udemy',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'paypal udemy',
  'category_preprocessed': 'education',
  'expense_type': 'expense'},
 {'id': '17460e41-ae83-4a25-90e5-a1fcd564dd9c',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'DT',
  'amount': -400.0,
  'currencyCode': 'EUR',
  'visibleTS': 1664798828592,
  'partnerBic': 'SXPYDEHHXXX',
  'partnerName': 'Paysafe Payment Solutions Ltd',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'partnerIban': 'DE36202208000096011577',
  'category': 'micro-v2-miscellaneous',
  'referenceText': 'Felipe Neut Montes',
  'userCertified': 1664833960092,
  'pending': False,
  'transactionNature': 'NORMAL',
  'smartContactId': '247eb4ac-fd8b-469c-9bcb-e732243d534d',
  'createdTS': 1664798828592,
  'smartLinkId': '17460e41-ae83-4a25-90e5-a1fcd564dd9c',
  'linkId': '17460e41-ae83-4a25-90e5-a1fcd564dd9c',
  'paymentScheme': 'SEPA',
  'confirmed': 1664833960092,
  'referenceText_preprocessed': 'felipe neut montes',
  'transaction_description_merged': 'felipe neut montes',
  'category_preprocessed': 'miscellaneous',
  'expense_type': 'expense'},
 {'id': 'c6510e35-5e85-303d-b352-a31d0bb72520',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -1.92,
  'currencyCode': 'EUR',
  'originalAmount': -1.92,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Berlin',
  'visibleTS': 1664790918539,
  'mcc': 4789,
  'mccGroup': 16,
  'merchantName': 'TIER DE RIDE',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-transport-car',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1664791976199,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664790918539,
  'merchantCountry': 0,
  'txnCondition': 'ECOMMERCE',
  'smartLinkId': 'c6510e35-5e85-303d-b352-a31d0bb72520',
  'linkId': 'c6510e35-5e85-303d-b352-a31d0bb72520',
  'confirmed': 1664791976199,
  'merchantName_preprocessed': 'tier de ride',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'tier de ride',
  'category_preprocessed': 'transport car',
  'expense_type': 'expense'},
 {'id': '43842b86-0091-376c-95d6-e7a0638d81aa',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -9.19,
  'currencyCode': 'EUR',
  'originalAmount': -9.19,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1664718499133,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'ALDI SUED',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1664722868563,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664718499133,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '43842b86-0091-376c-95d6-e7a0638d81aa',
  'linkId': '43842b86-0091-376c-95d6-e7a0638d81aa',
  'confirmed': 1664722868563,
  'merchantName_preprocessed': 'aldi sued',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'aldi sued',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': '8df3ad06-6cee-3d05-bcb5-722795fb1b4d',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -20.05,
  'currencyCode': 'EUR',
  'originalAmount': -20.05,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1664692374641,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1664704525480,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664692374641,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '8df3ad06-6cee-3d05-bcb5-722795fb1b4d',
  'linkId': '8df3ad06-6cee-3d05-bcb5-722795fb1b4d',
  'confirmed': 1664704525480,
  'merchantName_preprocessed': 'netto marken discount',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': '1916298a-1e8f-465b-a3f9-6a092ca134d8',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'AE',
  'amount': 12.95,
  'currencyCode': 'EUR',
  'merchantCity': 'Aachen',
  'visibleTS': 1664638978492,
  'mcc': 0,
  'mccGroup': 12,
  'merchantName': 'Netto Marken-Discount',
  'recurring': False,
  'partnerAccountIsSepa': False,
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-miscellaneous',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'userCertified': 1664638978492,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664638978496,
  'merchantCountry': 0,
  'merchantCountryCode': 276,
  'smartLinkId': '1916298a-1e8f-465b-a3f9-6a092ca134d8',
  'linkId': '1916298a-1e8f-465b-a3f9-6a092ca134d8',
  'confirmed': 1664638978496,
  'merchantName_preprocessed': 'netto marken discount',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'miscellaneous',
  'expense_type': 'deposit'},
 {'id': 'd9876a37-b526-48a4-9977-0d0eb838eb99',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'DT',
  'amount': -457.36,
  'currencyCode': 'EUR',
  'visibleTS': 1664620955183,
  'partnerBic': 'SOLADES1KNZ',
  'partnerName': 'Christina wg',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'partnerIban': 'DE89690500010024150849',
  'category': 'micro-v2-household-utilities',
  'referenceText': 'Rent October 2022 felipe neut',
  'userCertified': 1664829853327,
  'pending': False,
  'transactionNature': 'NORMAL',
  'smartContactId': 'cb028ebb-419c-40b1-9bba-6b77a98f5096',
  'createdTS': 1664620955183,
  'smartLinkId': 'd9876a37-b526-48a4-9977-0d0eb838eb99',
  'linkId': 'd9876a37-b526-48a4-9977-0d0eb838eb99',
  'paymentScheme': 'SEPA',
  'confirmed': 1664829853327,
  'referenceText_preprocessed': 'rent october felipe neut',
  'transaction_description_merged': 'rent october felipe neut',
  'category_preprocessed': 'household utilities',
  'expense_type': 'expense'},
 {'id': '1e9c58ca-6e2c-35a6-b09e-70f6f7b371c2',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -12.95,
  'currencyCode': 'EUR',
  'originalAmount': -12.95,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1664611317120,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'referenceText': '-',
  'userCertified': 1664615575461,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664611317120,
  'merchantCountry': 0,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': '1e9c58ca-6e2c-35a6-b09e-70f6f7b371c2',
  'linkId': '1e9c58ca-6e2c-35a6-b09e-70f6f7b371c2',
  'confirmed': 1664615575461,
  'merchantName_preprocessed': 'netto marken discount',
  'referenceText_preprocessed': '',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': 'eddefcea-0dab-35fe-ada2-180cfdb5a712',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'AA',
  'amount': -12.95,
  'currencyCode': 'EUR',
  'originalAmount': -12.95,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1664559968053,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'Netto Marken-Discount',
  'recurring': False,
  'partnerAccountIsSepa': False,
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'category': 'micro-v2-food-groceries',
  'cardId': 'f29654c5-fe14-4265-9f14-d45923518bf0',
  'userCertified': 1664559968228,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664559968232,
  'merchantCountry': 0,
  'merchantCountryCode': 276,
  'txnCondition': 'CARD_PRESENT',
  'smartLinkId': 'eddefcea-0dab-35fe-ada2-180cfdb5a712',
  'linkId': 'eddefcea-0dab-35fe-ada2-180cfdb5a712',
  'confirmed': 1664559968228,
  'merchantName_preprocessed': 'netto marken discount',
  'transaction_description_merged': 'netto marken discount',
  'category_preprocessed': 'food groceries',
  'expense_type': 'expense'},
 {'id': 'c81372d6-cef1-4bdb-bced-24d11c532903',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'CT',
  'amount': 2734.37,
  'currencyCode': 'EUR',
  'visibleTS': 1664541063568,
  'partnerBic': 'AACSDE33XXX',
  'partnerName': 'ACCURE Battery Intelligence GmbH',
  'accountId': '5d4d096d-da31-4e23-b5f8-01438a55c370',
  'partnerIban': 'DE57390500001073584888',
  'category': 'micro-v2-salary',
  'referenceText': 'LOHN / GEHALT 09/22',
  'userCertified': 1664541063575,
  'pending': False,
  'transactionNature': 'NORMAL',
  'createdTS': 1664541063568,
  'smartLinkId': 'c81372d6-cef1-4bdb-bced-24d11c532903',
  'linkId': 'c81372d6-cef1-4bdb-bced-24d11c532903',
  'confirmed': 1664541063575,
  'referenceText_preprocessed': 'lohn gehalt',
  'transaction_description_merged': 'lohn gehalt',
  'category_preprocessed': 'salary',
  'expense_type': 'deposit'},
 {'id': '320df5e1-1d77-3e9e-a43a-a4768d9e7d9f',
  'userId': 'd5b94e64-1311-47a1-989f-a90cd8b508c3',
  'type': 'PT',
  'amount': -5.57,
  'currencyCode': 'EUR',
  'originalAmount': -5.57,
  'originalCurrency': 'EUR',
  'exchangeRate': 1.0,
  'merchantCity': 'Aachen',
  'visibleTS': 1664523974026,
  'mcc': 5411,
  'mccGroup': 7,
  'merchantName': 'REWE Aachen, Marktstr',

In [8]:
df = pd.DataFrame.from_dict(data)

In [9]:
df.columns

Index(['id', 'userId', 'type', 'amount', 'currencyCode', 'originalAmount',
       'originalCurrency', 'exchangeRate', 'merchantCity', 'visibleTS', 'mcc',
       'mccGroup', 'merchantName', 'accountId', 'category', 'cardId',
       'referenceText', 'userCertified', 'pending', 'transactionNature',
       'createdTS', 'merchantCountry', 'txnCondition', 'smartLinkId', 'linkId',
       'confirmed', 'merchantName_preprocessed', 'referenceText_preprocessed',
       'transaction_description_merged', 'category_preprocessed',
       'expense_type', 'partnerBic', 'partnerName', 'partnerIban',
       'smartContactId', 'paymentScheme', 'mandateId', 'creditorIdentifier',
       'recurring', 'partnerAccountIsSepa', 'merchantCountryCode'],
      dtype='object')

In [10]:
df[
    [
    "amount",
    "merchantCity",
    "merchantName",
    "merchantName_preprocessed",
    "category",
    "category_preprocessed",
    "expense_type",
    "referenceText",
    "referenceText_preprocessed",
    "transaction_description_merged",
    ]
]

,amount,merchantCity,merchantName,merchantName_preprocessed,category,category_preprocessed,expense_type,referenceText,referenceText_preprocessed,transaction_description_merged
0,-9.45,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,-,,netto marken discount
1,-27.11,Aachen,"REWE Aachen, Marktstr",rewe aachen marktstr,micro-v2-food-groceries,food groceries,expense,-,,rewe aachen marktstr
2,-1200.00,NaN,NaN,NaN,micro-v2-miscellaneous,miscellaneous,expense,NaN,NaN,
3,-5.97,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,-,,netto marken discount
4,-15.50,Aachen,TK Kurhaus Aachen,tk kurhaus aachen,micro-v2-bars-restaurants,bars restaurants,expense,-,,tk kurhaus aachen
5,-1000.00,NaN,NaN,NaN,micro-v2-savings-investments,savings investments,expense,Scalable Capital Broker 5x savings plan,scalable capital broker x savings plan,scalable capital broker x savings plan
6,-3.58,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,-,,netto marken discount
7,-19.71,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,-,,netto marken discount
8,-1000.00,NaN,NaN,NaN,micro-v2-miscellaneous,miscellaneous,expense,NaN,NaN,
9,-15.99,0851832022,PAYPAL *UDEMY,paypal udemy,micro-v2-education,education,expense,-,,paypal udemy
10,-400.00,NaN,NaN,NaN,micro-v2-miscellaneous,miscellaneous,expense,Felipe Neut Montes,felipe neut montes,felipe neut montes
11,-1.92,Berlin,TIER DE RIDE,tier de ride,micro-v2-transport-car,transport car,expense,-,,tier de ride
12,-9.19,Aachen,ALDI SUED,aldi sued,micro-v2-food-groceries,food groceries,expense,-,,aldi sued
13,-20.05,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,-,,netto marken discount
14,12.95,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-miscellaneous,miscellaneous,deposit,NaN,NaN,netto marken discount
15,-457.36,NaN,NaN,NaN,micro-v2-household-utilities,household utilities,expense,Rent October 2022 felipe neut,rent october felipe neut,rent october felipe neut
16,-12.95,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,-,,netto marken discount
17,-12.95,Aachen,Netto Marken-Discount,netto marken discount,micro-v2-food-groceries,food groceries,expense,NaN,NaN,netto marken discount
18,2734.37,NaN,NaN,NaN,micro-v2-salary,salary,deposit,LOHN / GEHALT 09/22,lohn gehalt,lohn gehalt
19,-5.57,Aachen,"REWE Aachen, Marktstr",rewe aachen marktstr,micro-v2-food-groceries,food groceries,expense,-,,rewe aachen marktstr

## Training

In [11]:
df_training = pd.read_csv(f"{PATH}/training_set.csv")
df_training

         description                 label
0              netto        food groceries
1               rewe        food groceries
2               aldi        food groceries
3             marken        food groceries
4         tk kurhaus                sports
5              udemy  personal development
6       tier de ride             transport
7               rent   household utilities
8             broker            investment
9   scalable capital            investment
10       lohn gehalt                salary

In [12]:
vectorizer = CountVectorizer() #create the object
vectorizer.fit(df_training['description']) #Gives to each word a number. Each word is a feature, givin 113 features
X_counts_train = vectorizer.fit_transform(df_training['description']).toarray() #for each transaction, it assigns a +1 to each word in the position it was assigned. En cada transaccin/fila, le asigna un "1" a una palabra en determinada posicin, de las 113 palabras (features) que existen.

######################################### ASIGN LABELS TO CATEGORIES OF THE TRAINING & TESTING SET #########################################

le = preprocessing.LabelEncoder() #Encode target labels with value between 0 and n_classes-1
Y_train = le.fit_transform(df_training['label']) #assings a label to each category.

# Classifier

In [13]:
X_train = X_counts_train
gnb = GaussianNB() #Naive Bayes classifier
gnb.fit(X_train,Y_train) # Fit Gaussian Naive Bayes according to X_train and the labels

GaussianNB()

# Testing

In [14]:
X_counts_test = vectorizer.transform(df['transaction_description_merged']).toarray() #repeat the process of transforming each word to a number or index in an array
Y_predicted= gnb.predict(X_counts_test)

# Results of the model

In [15]:
predictions = [] 
predictions_label = [] 
for counter,x in enumerate(Y_predicted):
    predictions.append(list(le.classes_)[x])
    predictions_label.append(x)

In [16]:
predictions

['food groceries',
 'food groceries',
 'investment',
 'food groceries',
 'sports',
 'investment',
 'food groceries',
 'food groceries',
 'investment',
 'personal development',
 'investment',
 'transport',
 'food groceries',
 'food groceries',
 'food groceries',
 'household utilities',
 'food groceries',
 'food groceries',
 'salary',
 'food groceries']

In [34]:
predictions_label

[0, 0, 2, 0, 5, 2, 0, 0, 2, 3, 2, 6, 0, 0, 0, 1, 0, 0, 4, 0]

In [17]:
df.columns

Index(['id', 'userId', 'type', 'amount', 'currencyCode', 'originalAmount',
       'originalCurrency', 'exchangeRate', 'merchantCity', 'visibleTS', 'mcc',
       'mccGroup', 'merchantName', 'accountId', 'category', 'cardId',
       'referenceText', 'userCertified', 'pending', 'transactionNature',
       'createdTS', 'merchantCountry', 'txnCondition', 'smartLinkId', 'linkId',
       'confirmed', 'merchantName_preprocessed', 'referenceText_preprocessed',
       'transaction_description_merged', 'category_preprocessed',
       'expense_type', 'partnerBic', 'partnerName', 'partnerIban',
       'smartContactId', 'paymentScheme', 'mandateId', 'creditorIdentifier',
       'recurring', 'partnerAccountIsSepa', 'merchantCountryCode'],
      dtype='object')

In [20]:
# predictions

In [21]:
df = df.assign(category_model = predictions, label = predictions_label)
df

,id,userId,type,amount,currencyCode,originalAmount,originalCurrency,exchangeRate,merchantCity,visibleTS,mcc,mccGroup,merchantName,accountId,category,cardId,referenceText,userCertified,pending,transactionNature,createdTS,merchantCountry,txnCondition,smartLinkId,linkId,confirmed,merchantName_preprocessed,referenceText_preprocessed,transaction_description_merged,category_preprocessed,expense_type,partnerBic,partnerName,partnerIban,smartContactId,paymentScheme,mandateId,creditorIdentifier,recurring,partnerAccountIsSepa,merchantCountryCode,category_model,label
0,9be63438-e4fb-31b7-9384-65915fb23c30,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-9.45,EUR,-9.45,EUR,1.0,Aachen,1665225611331,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1665232571040,False,NORMAL,1665225611331,0.0,CARD_PRESENT,9be63438-e4fb-31b7-9384-65915fb23c30,9be63438-e4fb-31b7-9384-65915fb23c30,1665232571040,netto marken discount,,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
1,4c29da2f-c15f-3cd4-a938-caa026ef7025,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-27.11,EUR,-27.11,EUR,1.0,Aachen,1665225611331,5411.0,7.0,"REWE Aachen, Marktstr",5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1665232570906,False,NORMAL,1665225611331,0.0,CARD_PRESENT,4c29da2f-c15f-3cd4-a938-caa026ef7025,4c29da2f-c15f-3cd4-a938-caa026ef7025,1665232570906,rewe aachen marktstr,,rewe aachen marktstr,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
2,f4787306-d9ad-4707-a65d-3dafbbf12926,d5b94e64-1311-47a1-989f-a90cd8b508c3,DT,-1200.00,EUR,NaN,NaN,NaN,NaN,1665165809396,NaN,NaN,NaN,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-miscellaneous,NaN,NaN,1665165809459,False,NORMAL,1665165809396,NaN,NaN,f4787306-d9ad-4707-a65d-3dafbbf12926,f4787306-d9ad-4707-a65d-3dafbbf12926,1665165809459,NaN,NaN,,miscellaneous,expense,BYLADEM1001,felipe neut dkb,DE55120300001083891984,8a252a92-c72a-437d-b888-7b2853c58d7e,SEPA,NaN,NaN,NaN,NaN,NaN,investment,2
3,92d3d50b-bad5-3815-897c-a4386fcd94d1,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-5.97,EUR,-5.97,EUR,1.0,Aachen,1665157629291,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1665161097226,False,NORMAL,1665157629291,0.0,CARD_PRESENT,92d3d50b-bad5-3815-897c-a4386fcd94d1,92d3d50b-bad5-3815-897c-a4386fcd94d1,1665161097226,netto marken discount,,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
4,2a043002-e5fb-38b1-8cc8-df5b61eca3cc,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-15.50,EUR,-15.50,EUR,1.0,Aachen,1665157629291,5812.0,2.0,TK Kurhaus Aachen,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-bars-restaurants,f29654c5-fe14-4265-9f14-d45923518bf0,-,1665161097077,False,NORMAL,1665157629291,0.0,CARD_PRESENT,2a043002-e5fb-38b1-8cc8-df5b61eca3cc,2a043002-e5fb-38b1-8cc8-df5b61eca3cc,1665161097077,tk kurhaus aachen,,tk kurhaus aachen,bars restaurants,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sports,5
5,f6840f65-9a60-498b-87b4-99421531edae,d5b94e64-1311-47a1-989f-a90cd8b508c3,DD,-1000.00,EUR,NaN,NaN,NaN,NaN,1665072801801,NaN,NaN,NaN,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-savings-investments,NaN,Scalable Capital Broker 5x savings plan,1665072801809,False,NORMAL,1665072801801,NaN,NaN,f6840f65-9a60-498b-87b4-99421531edae,f6840f65-9a60-498b-87b4-99421531edae,1665072801809,NaN,scalable capital broker x savings plan,scalable capital broker x savings plan,savings investments,expense,BDWBDEMMXXX,Felipe Neut Montes,DE18700331002335527004,5057f059-4bae-490e-8e3a-be5a79301f84,NaN,N4T9TFRHF6JEMDMNHDJINE,DE63MUC00001787612,NaN,NaN,NaN,investment,2
6,44ba262d-6f41-3c7a-9cb2-66e39398ee15,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-3.58,EUR,-3.58,EUR,1.0,Aachen,1665044181605,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1665049877113,False,NORMAL,1665044181605,0.0,CARD_PRESENT,44ba262d-6f41-3c7a-9cb2-66e39398ee15,44ba262d-6f41-3c7a-9cb2-66e39398ee15,1665049877113,netto marken discount,,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
7,a12cf762-7b1a-36e4-9114-93a746f54e3b,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-19.71,EUR,-19.71,EUR,1.0,Aachen,1664955967445,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664960283348,False,NORMAL,1664955967445,0.0,CARD_PRESENT,a12cf762-7b1a-36e4-9114-93a746f54e3b,a12cf762-7b1a-36e4-9114-93a746f54e3b,1664960283348,netto marken discount,,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
8,92f31c62-b4e5-4dd9-a24f-c66347166ab7,d5b94e64-1311-47a1-989f-a90cd8b508c3,DT,-1000.00,EUR,NaN,NaN,NaN,NaN,1664943394492,NaN,NaN,NaN,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-miscellaneous,NaN,NaN,1665002197606,False,NORMAL,1664943394492,NaN,NaN,92f31c62-b4e5-4dd9-a24f-c66347166ab7,92f31c62-b4e5-4dd9-a24f-c66347166ab7,1665002197606,NaN,NaN,,miscellaneous,expense,BYLADEM1001,felipe neut dkb,DE55120300001083891984,8a252a92-c72a-437d-b888-7b2853c58d7e,SEPA,NaN,NaN,NaN,NaN,NaN,investment,2
9,57f50181-140d-31d5-a9fc-e7150ae376a8,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-15.99,EUR,-15.99,EUR,1.0,0851832022,1664868418640,8244.0,4.0,PAYPAL *UDEMY,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-education,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664873835638,False,NORMAL,1664868418640,5.0,CARD_PRESENT,57f50181-140d-31d5-a9fc-e7150ae376a8,57f50181-140d-31d5-a9fc-e7150ae376a8,1664873835638,paypal udemy,,paypal udemy,education,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,personal development,3
10,17460e41-ae83-4a25-90e5-a1fcd564dd9c,d5b94e64-1311-47a1-989f-a90cd8b508c3,DT,-400.00,EUR,NaN,NaN,NaN,NaN,1664798828592,NaN,NaN,NaN,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-miscellaneous,NaN,Felipe Neut Montes,1664833960092,False,NORMAL,1664798828592,NaN,NaN,17460e41-ae83-4a25-90e5-a1fcd564dd9c,17460e41-ae83-4a25-90e5-a1fcd564dd9c,1664833960092,NaN,felipe neut montes,felipe neut montes,miscellaneous,expense,SXPYDEHHXXX,Paysafe Payment Solutions Ltd,DE36202208000096011577,247eb4ac-fd8b-469c-9bcb-e732243d534d,SEPA,NaN,NaN,NaN,NaN,NaN,investment,2
11,c6510e35-5e85-303d-b352-a31d0bb72520,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-1.92,EUR,-1.92,EUR,1.0,Berlin,1664790918539,4789.0,16.0,TIER DE RIDE,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-transport-car,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664791976199,False,NORMAL,1664790918539,0.0,ECOMMERCE,c6510e35-5e85-303d-b352-a31d0bb72520,c6510e35-5e85-303d-b352-a31d0bb72520,1664791976199,tier de ride,,tier de ride,transport car,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,transport,6
12,43842b86-0091-376c-95d6-e7a0638d81aa,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-9.19,EUR,-9.19,EUR,1.0,Aachen,1664718499133,5411.0,7.0,ALDI SUED,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664722868563,False,NORMAL,1664718499133,0.0,CARD_PRESENT,43842b86-0091-376c-95d6-e7a0638d81aa,43842b86-0091-376c-95d6-e7a0638d81aa,1664722868563,aldi sued,,aldi sued,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
13,8df3ad06-6cee-3d05-bcb5-722795fb1b4d,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-20.05,EUR,-20.05,EUR,1.0,Aachen,1664692374641,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664704525480,False,NORMAL,1664692374641,0.0,CARD_PRESENT,8df3ad06-6cee-3d05-bcb5-722795fb1b4d,8df3ad06-6cee-3d05-bcb5-722795fb1b4d,1664704525480,netto marken discount,,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
14,1916298a-1e8f-465b-a3f9-6a092ca134d8,d5b94e64-1311-47a1-989f-a90cd8b508c3,AE,12.95,EUR,NaN,NaN,NaN,Aachen,1664638978492,0.0,12.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-miscellaneous,f29654c5-fe14-4265-9f14-d45923518bf0,NaN,1664638978492,False,NORMAL,1664638978496,0.0,NaN,1916298a-1e8f-465b-a3f9-6a092ca134d8,1916298a-1e8f-465b-a3f9-6a092ca134d8,1664638978496,netto marken discount,NaN,netto marken discount,miscellaneous,deposit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,276.0,food groceries,0
15,d9876a37-b526-48a4-9977-0d0eb838eb99,d5b94e64-1311-47a1-989f-a90cd8b508c3,DT,-457.36,EUR,NaN,NaN,NaN,NaN,1664620955183,NaN,NaN,NaN,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-household-utilities,NaN,Rent October 2022 felipe neut,1664829853327,False,NORMAL,1664620955183,NaN,NaN,d9876a37-b526-48a4-9977-0d0eb838eb99,d9876a37-b526-48a4-9977-0d0eb838eb99,1664829853327,NaN,rent october felipe neut,rent october felipe neut,household utilities,expense,SOLADES1KNZ,Christina wg,DE89690500010024150849,cb028ebb-419c-40b1-9bba-6b77a98f5096,SEPA,NaN,NaN,NaN,NaN,NaN,household utilities,1
16,1e9c58ca-6e2c-35a6-b09e-70f6f7b371c2,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-12.95,EUR,-12.95,EUR,1.0,Aachen,1664611317120,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664615575461,False,NORMAL,1664611317120,0.0,CARD_PRESENT,1e9c58ca-6e2c-35a6-b09e-70f6f7b371c2,1e9c58ca-6e2c-35a6-b09e-70f6f7b371c2,1664615575461,netto marken discount,,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0
17,eddefcea-0dab-35fe-ada2-180cfdb5a712,d5b94e64-1311-47a1-989f-a90cd8b508c3,AA,-12.95,EUR,-12.95,EUR,1.0,Aachen,1664559968053,5411.0,7.0,Netto Marken-Discount,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,NaN,1664559968228,False,NORMAL,1664559968232,0.0,CARD_PRESENT,eddefcea-0dab-35fe-ada2-180cfdb5a712,eddefcea-0dab-35fe-ada2-180cfdb5a712,1664559968228,netto marken discount,NaN,netto marken discount,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,276.0,food groceries,0
18,c81372d6-cef1-4bdb-bced-24d11c532903,d5b94e64-1311-47a1-989f-a90cd8b508c3,CT,2734.37,EUR,NaN,NaN,NaN,NaN,1664541063568,NaN,NaN,NaN,5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-salary,NaN,LOHN / GEHALT 09/22,1664541063575,False,NORMAL,1664541063568,NaN,NaN,c81372d6-cef1-4bdb-bced-24d11c532903,c81372d6-cef1-4bdb-bced-24d11c532903,1664541063575,NaN,lohn gehalt,lohn gehalt,salary,deposit,AACSDE33XXX,ACCURE Battery Intelligence GmbH,DE57390500001073584888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,salary,4
19,320df5e1-1d77-3e9e-a43a-a4768d9e7d9f,d5b94e64-1311-47a1-989f-a90cd8b508c3,PT,-5.57,EUR,-5.57,EUR,1.0,Aachen,1664523974026,5411.0,7.0,"REWE Aachen, Marktstr",5d4d096d-da31-4e23-b5f8-01438a55c370,micro-v2-food-groceries,f29654c5-fe14-4265-9f14-d45923518bf0,-,1664528190778,False,NORMAL,1664523974026,0.0,CARD_PRESENT,320df5e1-1d77-3e9e-a43a-a4768d9e7d9f,320df5e1-1d77-3e9e-a43a-a4768d9e7d9f,1664528190778,rewe aachen marktstr,,rewe aachen marktstr,food groceries,expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,food groceries,0

# Non relevant

In [23]:
# pd.read_csv(f"{PATH}/df.csv")

In [ ]:
for col_name in df.columns:
    print(col_name, "\n", df[col_name].value_counts(), "\n")

In [24]:
df["transaction_description_merged"].value_counts()

netto marken discount                     8
rewe aachen marktstr                      2
                                          2
tk kurhaus aachen                         1
scalable capital broker x savings plan    1
paypal udemy                              1
felipe neut montes                        1
tier de ride                              1
aldi sued                                 1
rent october felipe neut                  1
lohn gehalt                               1
Name: transaction_description_merged, dtype: int64

In [ ]:
"https://stackoverflow.com/questions/15078519/python-dictionary-passed-as-an-input-to-a-function-acts-like-a-global-in-that-fu"